.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(&:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.small {
  height: 26px;
  padding: 4px 8px;
}

.medium {
  height: 38px;
  padding: 4px 8px;
}
