.expense-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 12px 0;
}

.expense-item--avatar {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
