* {
  box-sizing: border-box;
}

.App, #root, body, html {
  height: 100%;
  width: 100%;
}

.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  gap: 14px;
  color: white;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.App-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  width: 100%;
  height: 100%;
  align-items: stretch;
  overflow-y: auto;
}

button {
  cursor: pointer;
}
