.Expense-List-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
}

.Expense-List {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.Expense-Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.Expense-Item-value {
  min-width: 120px;
}
